*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: blanchedalmond;

}
h1{
    text-align: center;
    padding: 10px;
}
img{
    width: 500px;
    height: 500px;
    text-align: center;
}